<!doctype html>

<html lang="en-US" data-ng-app="wall">

    <head>

        <title>Drone Wall</title>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0, width=device-width, minimal-ui">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <link rel="stylesheet" href="<%= STATIC_PATH %>build/base.css">
        <link rel="stylesheet" href="<%= STATIC_PATH %>build/project.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

        <base href="/">

    </head>

    <body data-ng-class="{ dark: theme == 'dark' }">

        <main data-ng-view></main>

        <script>
            "use strict";
            var STATIC_PATH = "<%= STATIC_PATH %>";
        </script>

        <script src="<%= STATIC_PATH %>build/jquery.js"></script>
        <script src="<%= STATIC_PATH %>build/angular.js"></script>
        <script src="<%= STATIC_PATH %>build/components.js"></script>
        <script src="<%= STATIC_PATH %>build/project.js"></script>

    </body>

</html>
